@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    overflow: hidden;
}

.main>.first-main {
    width: 50vw;
    height: 100vh;
    background-color: #3E85F0;
}

.btn-manual {
    position: relative;
    top: 30px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    padding: 8px 12px;
}

.btn-manual:hover {
    background-color: white;
    color: #3E85F0
}

.main>.second-main {
    width: 50vw;
    height: 100vh;
    background-color: #f0e7e7;
    display: grid;
    justify-content: center;
    align-items: center;
}

.social-icon {
    height: 25px;
    width: 25px;
    /* margin: 0 10px;  */
    background-color: white;
}

.link {

    display: grid;
    grid-gap: 0px;
    grid-template-rows: repeat(4, auto);
    margin-top: 30vh;
    transform: translateX(-21px);

}



.link-sidebar {
    display: block;
    width: 40px;
    padding: 12px;
    background: #fff;
    color: #3E85F0;
    font-size: 16px;
    text-align: center;
    transition: all linear 0.2s;
    border: 1px solid #3E85F0;
    border-radius: 5px;
    cursor: pointer;
}




.link :hover{
   animation: mymove 0.5s linear;
   animation-fill-mode: forwards;
}

@keyframes mymove {
    from {}
    to {
      
        width: 95px;
        border-radius: 20px;
    }
  }

.crousel-content {
    height: 80vh;
    width: 45vw;
    left: 220px;
    margin: 5% auto;
    position: absolute;
}


.login-section {
    max-width: 70%;
    margin: 30% auto;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
}

.para-section :nth-child(1) {
    color: #3E85F0;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

.para-section :nth-child(2) {
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}



input[type="text"],
input[type="password"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #20314f59 !important;
    font-weight: 600;
    color: #2a2a2a;
    padding: 3px;
    outline: none;
    position: relative;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: #f0e7e7;
    width: 100%;
}

label {
    font-family: "Poppins", sans-serif;
    color: #666666;

}

.form-section {
    position: relative;
}

.forget-paasword {
    position: relative;
    left: 70%;
    top: -27px
}

.btn {
    height: 44px;
    background: #3E85F0;
    background-color: #3E85F0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.bottom-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-google {
    height: 30px;
    width: 70px;
    margin: 0 10px;
}

.img-apple {
    height: 35px;
    width: 65px;
    margin: 0 10px;
}

.footer-para {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-para :nth-child(1) {
    font-size: 12px;
    color: #2a2a2a;
    font-weight: bold;
}

.footer-para :nth-child(2) {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}


.carousel {
    /* top: 141px;  */
    left: 39%;
    transform: translateX(-39%);
    object-fit: cover;
    max-width: 100%;
    /* max-height: 50%; */
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel img {
    width: 100%;

    height: 77vh;
}


@media screen and (max-width: 953px) {

    .carousel {
        display: none;
    }

    .crousel-content {
        display: none;
    }



}

@media screen and (max-width:586px) {
    .first-main {
        display: none;
    }

    .main>.second-main {
        width: 100vw;
        height: 100vh;
      
    }
}

@media screen and (max-width:1397px) {

    .carousel img {
        width: 69%;

        height: 50vh;
    }

    .carousel {
        top: 141px;
        max-width: 77%;
    }

}

@media screen and (max-width:1146px) {
    .main>.first-main {
        width: 45vw;
        height: 100vh;
        background-color: #3E85F0;
    }

    .carousel img {

        height: 30vh;
    }

    .carousel {
        max-width: 41%;
        max-height: 40vh;
        top: 287px;
    }

}